/**************
13inch / 1280px 
***************/
@media (max-width: 1280px) {

	/**************
	Top Level Wraps
	***************/
	.wrap_findbar {
		width: 15.7%;

		/*border: 1px solid black;*/
	}

	.wrap_userbar {
		width: 15.7%;

		/*border: 1px solid black;*/
	}

	.catbar {
		width: 134%;
		height: 69px;
		left: -13.4%;

		/*border: 1px solid red;*/
	}

	/* wrap_catbox */
	.wrap_catbox {
		width: 22.7%;
		height: 60px;
	}

	.wrap_findbar .wrap_catbox:not(:nth-of-type(1)) {
		margin-left: 6px;	
	}

	.wrap_findbar .wrap_catbox:not(:nth-of-type(1)) {
		margin-left: 6px;	
	}

	.catbox_plate {
		height: 100%;
	}

	.catbox_plate > div:nth-of-type(1) {
		height: 30px;
	}

	.catbox_plate > div:nth-of-type(2) {
		height: 30px;
		font-size: 10px;
		font-weight: 600;
		line-height: 30px;
	}

	.catbox_arrow {
		width: 12px;
		height: 12px;
	}

	.wrap_findables {
		height: 525px;
	}

	.scrollbar_findables {
		height: 525px;
		margin-top: 147px;
	}

}
/* END media query */








