.chatPlate {
  min-height: 735px;
  max-height: 800px;
}

#chatterBox {

}

.msgBox {
  padding: 10px;
  border-radius: 10px;
}

.fromMe {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  background-color: lightslategrey;
}

.toMe {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  background-color: lightgray;
}

.correspondents {
  display: flex;
  color: black;
  border-radius: 10px;
  margin: 2px;
  background-color: lightgray;
}

#comm_list {
  border: 2px solid lightgray;
  border-radius: 15px;
  margin-bottom: 25px;
  max-height: 150px;
  overflow: scroll;
}

#comm_thread {
  border: 2px solid lightgray;
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 10px;
}
#chat-window {
  padding: 0;
}

#msg_editor {
  border: 2px solid lightgray;
}

#save_btn {
  width: 90px;
  padding-right: 15px;
  margin-top: 5px;
}

#contactsAndUsers {
  margin-left: 15px;
  margin-right: 15px;
}

