.fromMe {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  background-color: lightslategrey;
}

.toMe {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  background-color: lightgray;
}

.correspondents {
  display: flex;
  color: black;
  background-color: var(--green_main);
}

/* .msgBox {
  border-radius: 15%;
} */
