#chatPlate {
  height: 60%;
}

.fromMe {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  background-color: lightslategrey;
}

.toMe {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  background-color: lightgray;
}

.correspondents {
  display: flex;
  color: black;
  background-color: var(--green_main);
}

#comm_list {
  border: 2px solid lightgray;
  border-radius: 15px;
  margin-bottom: 25px;
}

#comm_thread {
  border: 2px solid lightgray;
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 15px;
}
#chat-window {
  padding: 0;
}

#contactsAndUsers {
  margin-left: 15px;
  margin-right: 15px;
}

.msgBox {
  padding: 5px;
}
