.calendar_title {
  position: relative;
  top: 32px;
  margin-left: 11.2%;
  font-size: 32px;
  font-weight: 500;
}

.calendar_title > input {
  font-size: 24px;
  
  /*border: 1px solid blue;*/
}

.description {
  white-space: pre-wrap;
}

#time-block {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.inline_time {
  margin-top: 10px;
  margin-bottom: 2px;
  font-size: 20px;
  font-weight: 500;
}

.fieldRow_calendar {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 42px;
}

.timeField {
  width: 65%;
  border-radius: 5px;
  border-bottom: 2px solid var(--blue_main);
  box-shadow: var(--shadow_opac10);
  font-size: 16px;
  font-weight: 500;
  line-height: 42px;
  padding-left: 6%;
  resize: none;
}

button.saveBtn_calendar {
  width: 12%;
  min-width: 42px;
  height: 38px;
  position: relative;
  left: 12px;
  top: 2px;
  border-radius: 5px;
  background-color: var(--blue_main);
  color: white;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  box-shadow: var(--shadow_harsh_1);
}





.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: black;
}

.nonworkhour {
  background-color: gold;
  color: black;
}

.present {
  background-color: #ff6961;
  color: black;
}

.future {
  background-color: #77dd77;
  color: black;
}

#event {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

/*.event_style {
  height: auto;
  min-height: 30px;
  height: auto !important;  for IE as it does not support min-height 
  height: 30px; /* for IE as it does not support min-height */
/*}*/

#btn_frame {
  width: 25%;
  justify-content: space-between;
}

#btn_box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#calendar-header {
  font-size: 3vw;
}

.btn_class {
  margin: 1%;
}
