.delBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: red;
  color: white;
  width: 1vw;
  top: 0;
  float: right;
}

.addBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: lightgreen;
  color: white;
  width: 1vw;
  top: 0;
  float: right;
}

.myBtn {
  border-left: 1px solid black;
  border-radius: 15px;
  margin-left: 2vw;
  margin-bottom: 1vw;
  background-color: #4A90E2;
  color: white;
  /* width: 1vw; */
  top: 0;
  float: right;
}

.trainerPanel {
  background-color: white;
  box-shadow: var(--shadow_opac10);
  padding: 2px;
  margin: 0 auto;
}

#trainer {
  background-color: white;
  box-shadow: var(--shadow_opac10);
  padding: 2px;
  margin: 0 auto;
  height: 100vh;
  min-height: fit-content;
  /* background-color: lightsteelblue; */
}
